.recipe {
    background-color: var(--clr-darkblue);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    overflow: hidden;
    width: 300px;
    height: 400px;
  }
  
  .recipe-image {
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .recipe-image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  
  .recipe-info {
    padding: 1rem;
    text-decoration: none;
    color: var(--clr-white);
  }
  
  .recipe-title {
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    
  }
  
  .recipe-ingredients {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    list-style-type: disc;
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
  }
  
  .recipe-instructions {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
  }
  .recipe-title-link {
    color: #333;
    text-decoration: none;
  }
  
  .recipe-title-link:hover {
    color: #007bff;
    transition: color 0.3s;
  }
  
.extras{
  display: flex;
  justify-content: space-between;
}